* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px;
}
h1 {
    text-align: center;
    font-size: 52px;
    font-weight: 300;
    padding: 150px 20px 40px 20px;
}
h2 {
    font-size: 36px;
    margin-bottom: 30px;
}
h3 {
    font-size: 28px;
    margin-bottom: 25px;
}
p {
    line-height: 1.8;
    font-weight: 300;
    letter-spacing: 0.5px;
}
a {
    text-decoration: none;
    color: white;
}
nav {
    position: fixed;
    width: 100%;
    background-color: grey;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block {
    margin-bottom: 60px;
}
.booking-page-holder {
    border: 1px solid red;
}
.booking-page-holder iframe {
    height: 768px;
}
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 24px;
    }
}